<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
    <p class="font-weight-bold h1">Edit Account</p>
      <p class="font-weight-bold h5">アカウントの編集</p>
      <%= link_to "ログアウト",  destroy_user_session_path, method: :delete,class: 'btn'%>
      <%= link_to "メインページに戻る", :back, class: 'btn'%>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: current_user, local: true do |f|%>
        <div class='field'>
          <div class='field-label'>
          <div class="font-weight-bold h5">
            <%= f.label :password %>
          </div>
          <div class='field-input'>
            <%= f.text_field :password, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
          <div class="font-weight-bold h5">
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "Update", class: 'btn'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
