<ul class='item-lists'>
      <% @items.each do |item| %>
      
    <li class='list col-md-6 mb-6 shadow-sm'>
      <div class= 'item-contents'>
        <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" height="315" src="https://www.youtube.com/embed/<%= item.youtube_url.last(11)%>"  width="560" allowfullscreen ></iframe>
      </div>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" , size:'100x50'%> 
          <% if item.user_item%>
            <div class='sold-out'>
              <span>Sold Out!!</span> 
            </div>
          <%end%> 
          </div>
          <div class='item-show-box'>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.name %>
            </h3> 
            <div class='item-price'>
              <span><%= item.price %>円<br>(税込み)</span>ˆ
            </div>
        <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
          <% if user_signed_in? && current_user.id == item.user_id %>
            <% unless item.user_item%>
                  
                  <%= link_to(edit_item_path(item.id), method: :get, class: "item-red-btn") do%>
                  <button type="button" class="btn btn-sm btn-outline-secondary">編集</button>
                  <% end %>
                  
                  <%= link_to(item_path(item.id), method: :delete, class:'item-destroy') do%>
                  <button type="button" class="btn btn-sm btn-outline-secondary">削除</button>
                  <% end %>
                  
            <%end%>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                  <%else%>
                  
            <% unless item.user_item%>

                  <%= link_to(item_orders_path(item.id), method: :get, class: "item-red-btn") do%>
                  <button type="button" class="btn btn-sm btn-outline-secondary">購入</button>
                  <% end %>

                  <%= link_to(item_path(item.id), method: :get, class: "item-red-btn") do%>
                  <button type="button" class="btn btn-sm btn-outline-secondary">詳細</button>
                  <% end %>
            <%end%>
          <%end%>
        </div> 
        </div>
      </div>
    </li>
  <%end%>
</ul>