<h1>
  商品検索
</h1>
<%= search_form_for @p, url: items_search_path do |f| %>
  <%= f.label :name_eq, '商品名' %>
  <%= f.collection_select :name_eq, @item_name, :name, :name, include_blank: '指定なし' %>
  <br>
  <%= f.label :category_name_eq, 'カテゴリー：' %>
  <%= f.collection_select :category_name_eq, @category_name, :name, :name, include_blank: '指定なし' %>
  <br>
  <%= f.label :price, '価格：' %>
  <%= f.radio_button :price_lteq, '' %>
  指定なし
  <%= f.radio_button :price_lteq, '1000' %>
  1000円以下
  <%= f.radio_button :price_lteq, '2500' %>
  2500円以下
  <%= f.radio_button :price_lteq, '5000' %>
  5000円以下
  <br>
  <%= f.submit '検索' %>
  <br>
  <%# 商品一覧 %>
  <% @items.each do |item| %>
  <td>
  <br>
  <li>
    <%= item.name %>
    <%= item.shipping_cost.name %>
    <%= item.shipping_day.name%>
    <%= item.price %>
    <%= item.category.name %>
  </li>
  <% end %>
<% end %>