<h1>
  商品検索
</h1>
<%= search_form_for @q, url: items_search_path do |f| %>
  <%= f.label :name_eq, '商品名' %>
  <%= f.collection_select :name_eq, @item_name, :name, :name, include_blank: '指定なし' %>
  <br>
  <%= f.label :category_id_eq, 'カテゴリー：'%>
  <%= f.collection_select(:category_id_eq ,Category.all , :id, :name, {}, {include_blank: '指定なし'})%>
  <br>
  <%= f.label :shipping_cost_id_eq, '配送料：'%>
  <%= f.collection_select(:shipping_cost_id_eq ,ShippingCost.all , :id, :name, {}, {include_blank: '指定なし'})%>
  <br>
  <%= f.label :shipping_day_id_eq, 'お届け日数：' %>
  <%= f.collection_select(:shipping_day_id_eq ,ShippingDay.all , :id, :name, {}, {include_blank: '指定なし'})%>
  <br>

  <%= f.label :price, '価格：' %>
  <%= f.radio_button :price_lteq, '' %>
  指定なし
  <%= f.radio_button :price_lteq, '1000' %>
  1000円以下
  <%= f.radio_button :price_lteq, '2500' %>
  2500円以下
  <%= f.radio_button :price_lteq, '5000' %>
  5000円以下
  <br>
  <%= f.submit '検索' %>
  <% end %>
  <br>
  <%# 商品一覧 %>
  <% @items.each do |item| %>
  <li>
    <%= item.name %>
    <%= item.shipping_cost.name %>
    <%= item.shipping_day.name%>
    <%= item.price %>
    <%= item.category.name %>
  </li>
  <% end %>
