<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form Sample</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>

  <%= render 'category_heder', item: @item %>
  <body>
  <br/><br/>
<div class="container-fluids">
    <div class="container-fluid">
    <%=image_tag "portfolio/fullsize/22.png", class:"img-fluid mb-5 mt-5", :size =>'1020x780'%>
    <br>
    <%=image_tag "portfolio/fullsize/20.png", class:"img-fluid mb-5 mt-5", :size =>'1020x780'%>
    </div>

   <div class="container-fluid">
      <div id="contens-row">
      <%= render 'layouts/error_messages', model: @item %> 
        <%= form_with model: @item, local: true do |f| %>
        <h2 class= "font-weight-bold h2 mx-xl-5 my-xl-2">商品の情報を入力</h2>
          <br>
          <br>
        <div id="contens-row"> 
          <div class="image-lists mx-xl-6"> 
          <h6 class="text-danger">★どちらか一つ選択</h6>
            <div class="border border-danger" style="padding:10px;">
            <div class= "font-weight-bold h6">1.動画をアップロード</div>
            <%= f.file_field :video ,class:"mb-2"%>
            <div class= "font-weight-bold h6">2.YOUTUBE 動画URL</div>
            <h6>（他人の動画をアップロードするのは著作権違反です）</h6>
            <%= f.text_field :youtube_url, placeholder: 'youtube_url' , class:"items-text"%>
            </div>
            <br>
            <div class= "font-weight-bold h6">クリックして画像をアップロード</div>
            <%= f.file_field :image, id:"item-image" %>
          <br>
          <br>
          <div class= "font-weight-bold h6">商品名</div>
	          <div class="form-row">
	            <div class="col-md-4 mb-3">
	              <%= f.text_area :name, placeholder:"商品名", maxlength:"40" %>
	            </div>
	          </div>
            <div class= "font-weight-bold h6">商品内容</div>
	            <div class="form-row">
               <%= f.text_area :content, size: "40x5", placeholder:"商品内容 例)今！話題のyoutubeで人気のラーメンです"%>
              </div>
              <br>
          <div class= "font-weight-bold h6">カテゴリー </div>
            <div class="form-row">
		          <%= f.collection_select(:category_id,Category.all , :id, :name, {}, {class:"mx-3"})%>
	          </div>
            <br>

	       <div class= "font-weight-bold h6">配送料の負担</div>
            <div class="form-row">
	          <%= f.collection_select(:shipping_cost_id,ShippingCost.all, :id, :name, {},{class:"mx-3"},)%>
	          </div>
            <br>

	      <div class= "font-weight-bold h6">発送元地域  </div>
          <div class="form-row">
	          <%= f.collection_select(:prefecture_id,Prefecture.all, :id, :name, {}, {class:"mx-3"}) %>
	        </div>
          <br>

	      <div class= "font-weight-bold h6">発送までの日数  </div>
          <div class="form-row">
	           <%= f.collection_select(:shipping_day_id,ShippingDay.all, :id, :name, {}, {class:"mx-3"}) %>
	      </div>
          <br>

        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
        </div>

        <div class="price-content">
          <span>販売手数料 (10%)</span>
          <span>
            <span id='add-tax-price'></span>円
          </span>
        </div>
        
        <div class="price-content">
          <span>販売利益</span>
            <span id='profit'></span>円
        </div>
        <br>
        <button class="btn btn-primary mx-3 mb-5" type="submit">編集完了</button>
        <a href="/items">
        <button class="btn btn-dark mx-3 mb-5" type="button">戻る</button>
        </a>
    </div>
   <% end %>
  </div>
</div>
</div>
<!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>