<!doctype html>
<html lang="ja" >
  <head>
    <title>アルバムサンプル for Bootstrap · Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="album.css" rel="stylesheet">
    <link href="../example.css" rel="stylesheet">
  </head>
  <body >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

    <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container"> 
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">撮影者や撮影した背景など, アルバムに関する情報を追加しましょう。いくつかの文を書いておくと, 友達が写真を選ぶ手助けになるかもしれません。また, 写真は SNS や連絡先へとリンクしておきましょう。</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <!-- <li><a href="#" class="text-white">Follow on Twitter</a></li> -->
            <li><a href="#" class="text-white">Twitter でフォローする</a></li>
            <!-- <li><a href="#" class="text-white">Like on Facebook</a></li> -->
            <li><a href="#" class="text-white">Facebook でいいねする</a></li>
            <!-- <li><a href="#" class="text-white">Email me</a></li> -->
            <li><a href="#" class="text-white">Email を送る</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <!-- <strong>Album</strong> -->
        <strong>動画</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center mark-up">
    <div class="container">
      <!-- <h1 class="jumbotron-heading">Album example</h1> -->
      <h1 class="jumbotron-heading">教育 education</h1>
      <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
      <br>
        <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a> -->
        <a href="#" class="btn btn-primary my-2">次のジャンルへ</a>
        <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
        <%=link_to 'TOPへ戻る', root_path, class:"btn btn-secondary my-2" %>
      </p>
    </div>
  </section>
</main>

<ul class='item-lists'>
      <% @items.each do |item| %>
      
    <li class='list col-md-4 mb-4 shadow-sm'>
      <%= link_to item_path(item) do%>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" , size:'185x50'%> 
          <% if item.user_item%>
            <div class='sold-out'>
              <span>Sold Out!!</span> 
            </div>
            <%end%> 
          </div>
          <% end %>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.name %>
            </h3>
            <div class='item-price'>
              <span><%= item.price %>円<br>(税込み)</span>
              </div>
            </div>
          </div>
          <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <% if user_signed_in? && current_user.id == item.user_id %>
                  <% unless item.user_item%>
                  <%= link_to(edit_item_path(item.id), method: :get, class: "item-red-btn") do%>
                  <button type="button" class="btn btn-sm btn-outline-secondary">編集</button>
                  <% end %>
                  <%= link_to(item_path(item.id), method: :delete, class:'item-destroy') do%>
                  <button type="button" class="btn btn-sm btn-outline-secondary">削除</button>
                  <% end %>
                  <%end%>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                  <%else%>
                  <% unless item.user_item%>
                  <button type="button" class="btn btn-sm btn-outline-secondary">購入</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">詳細</button>
                  <%end%>
                  <%end%>
          </div> 
    </li>
  <% end %>
</ul>

<footer class="text-muted">

</footer>
<script src="../../assets/js/vendor/holder.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script><script src="/docs/4.5/assets/js/vendor/anchor.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/clipboard.min.js"></script>
<script src="/docs/4.5/assets/js/vendor/bs-custom-file-input.min.js"></script>
<script src="/docs/4.5/assets/js/src/application.js"></script>
<script src="/docs/4.5/assets/js/src/search.js"></script>
<script src="/docs/4.5/assets/js/src/ie-emulation-modes-warning.js"></script>
  </body>
</html>
