<%= render 'bootstrap', item: @item %>
<%= render 'category_heder', item: @item %>

<main role="main">

  <section class="jumbotron text-center mark-food">
    <div class="container">
      <!-- <h1 class="jumbotron-heading">Album example</h1> -->
      <h1 class="jumbotron-heading">フード food</h1>
      <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
      <br>
        <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a> -->
        <a href="/items/hobby" class="btn btn-primary my-2">次のジャンルへ</a>
        <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
        <%=link_to 'TOPへ戻る', root_path, class:"btn btn-secondary my-2" %>
      </p>
    </div>
  </section>
</main>

<%= render 'form', item: @item %>

<footer class="text-muted">

</footer>
<%= render 'bootstrap_fotter',item: @item %>
